<!DOCTYPE html>
<html>
<head>
  <title>Player List</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 400px;
      margin: 0 auto;
    }
    .form-group {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Fill form to join room</h1>

      <div class="form-group">
        <label for="room-input">Room PIN:</label>
        <input type="text" id="room-input" name="room">
      </div>
      <div class="form-group">
        <label for="name-input">Player Name:</label>
        <input type="text" id="name-input" name="playerName">
      </div>
      <button onclick="join()">Join</button>
  
    <h2>Players in Room</h2>
    <button onclick="showPlayer()">show</button>
    <ul id="player-list" class="message-list"></ul>
    <ul id="player-list2" class="message-list"></ul>

    <h1>Game</h1>
    <button onclick="startQuiz()">Start</button>
    <button onclick="stopQuiz()">Stop</button>
    <h2 id="question"></h2>
    <ul id="answers"></ul>
    <button onclick="answerQuestion()">Answer</button>

    <h1>Score Table</h1>
    <ul id="scoretable"></ul>
  </div>

  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
  <script>
    const socket = io();

    

    // Join room
    const joinForm = document.getElementById('join-form');
    const playerNameInput = document.getElementById('name-input');
    const roomInput = document.getElementById('room-input');
    const join = () =>{
      const name = playerNameInput.value.trim();
      const pin = roomInput.value.trim();
      
      socket.emit('join', { pin, name });
    }
    socket.on('roomNotFound', () => {
      alert('Room not found');
    });
    socket.on('existed' ,() => {
      alert('This name has existed in room')
    })
    // Update player list
    const playerList = document.getElementById('player-list');
    socket.on('updatePlayers', (players)=> {
      playerList.innerHTML = '';
      players.forEach(function(player) {
        const listItem = document.createElement('li');
        listItem.textContent = player.name;
        playerList.appendChild(listItem);
      });
    });

    const playerList2 = document.getElementById('player-list2')
    const showPlayer = () => {
      const pin = roomInput.value.trim();
      socket.emit('getroom' ,pin)
    }
    socket.on('updatePlayers2', (players)=> {
    playerList2.innerHTML = '';
    players.forEach(function(player) {
      const listItem = document.createElement('li');
      listItem.textContent = player.name;
      playerList2.appendChild(listItem);
    });
  });

     function startQuiz() {
      const pin = roomInput.value.trim();
      socket.emit('startQuiz', pin);
    }

    function stopQuiz() {
      socket.emit('stopQuiz');
    }

    socket.on('question', function(data) {
      let question = data.title;
      let answers = data.options;

      // Display the question and answers on the page
      document.getElementById('question').innerHTML = question;

      let answersHtml = '';
      for (let i = 0; i < answers.length; i++) {
        answersHtml += '<li><label><input type="radio" name="answer" value="' + answers[i] + '">' + answers[i] + '</label></li>'
      }
      document.getElementById('answers').innerHTML = answersHtml;
    });

    function answerQuestion() {
      let selectedAnswerIndex = document.querySelector('input[name="answer"]:checked').value;
      socket.emit('answer', selectedAnswerIndex);
    }
    socket.on('answerResult', function(result) {
      let resultMessage = result.isCorrect ? 'Correct! ' : 'Incorrect! ';
      resultMessage += 'Score: ' + result.score;
      console.log(resultMessage);
    });

    socket.on('score', (score) => {
      let scoreHtml = '';
      for (let i = 0; i < score.length; i++) {
        scoreHtml += '<li>' + score[i].name + ' ' + score[i].score + '</li>'
      }
      document.getElementById('scoretable').innerHTML = scoreHtml;
    })
  </script>
</body>
</html>
